main section{
    padding-top: 1%;
    padding-bottom: 1%;
}
main section figure{
    width: 70%;
    height: 300px;
    margin: auto;
    border: solid 1px deeppink;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
main section figure a {
    padding-left: 2%;
    vertical-align: top;
    width: 40%;
}
main section figure img{
    max-width:220px;
    max-height: 220px;
    overflow: hidden;
}
main section figure figcaption{
    vertical-align: top;
    width: 50%;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
main>section>figure>a,main>section>figure>figcaption{
     display: inline-block;
 }